.join-card-background {
  background: linear-gradient(
    222.73deg,
    rgba(255, 255, 255, 0.2) -9.07%,
    rgba(255, 255, 255, 0) 93.37%
  );
  filter: drop-shadow(4px 4px 50px rgba(0, 0, 0, 0.06));
  backdrop-filter: blur(142px);
  border-radius: 50px;
}
li {
  list-style-type: square;
}
.join-text {
  font-size: 90px;
}
@media (max-width: 768px) {
  .join-text {
    font-size: 40px;
  }
}
