.join-card {
  background: linear-gradient(
    222.73deg,
    rgba(0, 0, 0, 0.411) -9.07%,
    rgba(0, 0, 0, 0.829) 93.37%
  );
  filter: drop-shadow(4px 4px 50px rgba(0, 0, 0, 0.06));
  backdrop-filter: blur(142px);
  border-radius: 20px;
}
.join-box {
  padding-left: 150px;
  padding-right: 150px;
}
@media(max-width: 568px){
    .join-box {
        padding-left: 20px;
        padding-right: 20px;
      }
}
.join-price-card {
  background: rgba(255, 255, 255, 0.03);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.sold-out-button{
    border: none;
    font-weight: bold;
    border-radius: 10px;
    box-shadow: 0px 10px 20px var(--primaryColor);
}
@media(max-width: 768px){
    .mobile-center{
        text-align: center;
    }
}