.join-card {
  border: 2px solid;
  border-image-slice: 1;
  border-width: 1px;
  border-image-source: linear-gradient(
    222.73deg
    , var(--tertiaryColor), transparent);
  border-radius: 20px;
}
.join-card-background {
  background: linear-gradient(
    222.73deg,
    rgba(160, 160, 160, 0.2) -9.07%,
    rgba(255, 255, 255, 0) 93.37%
  );
  filter: drop-shadow(4px 4px 50px rgba(0, 0, 0, 0.06));
  backdrop-filter: blur(142px);
  border-radius: 50px;
}
.join-box {
  padding-left: 150px;
  padding-right: 150px;
}
@media (max-width: 568px) {
  .join-box {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.join-price-card {
  background: rgba(255, 255, 255, 0.03);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.sold-out-button {
  border: none;
  font-weight: bold;
  border-radius: 10px;
  box-shadow: 0px 10px 20px var(--primaryColor);
}
@media (max-width: 768px) {
  .mobile-center {
    text-align: center;
  }
}
.price{
  font-size: 40px;
  font-weight: 900;
}