.image-container {
  position: relative;
}
.leadership-image {
  border-radius: 20px;
}
.image-content {
  position: absolute;
  bottom: 8px;
  width: 92%;
  background: rgba(255, 255, 255, 0.03);
  box-shadow: 0 3px 20px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  border-radius: 30px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
